@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #F7F9FC;
    color: #333333;
    width: 100%;
}


section{
    padding: 70px 0;
}

.containerfull{
    padding: 0 40px ;
}